<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bec0d407c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">


    <title>Mobile Phones: Buy Mobiles Online at Best Prices in Mumbai</title>

  </head>
  <body >
   
   


    <!--Navbar starts here-->

<nav class="navbar navbar-expand-lg bg-secondary navbar-light  fixed-top shadow-sm ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="#products"> Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#homedelivery">Home Delivery</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#connectwithus">Connect with Us</a>
      </li>
     
    
    </ul>
  
  </div>
</nav>
<!--Navbar ends here-->

<div id="bannerArea" class="container bannerArea">

<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <img src="../assets/images/banner2.jpeg" alt="Mobile and Accessories" class="banner img-thumbnail">
    <div class="marginHeaderCopy">
      <h2 class="headingColor">Connect Plus-your online mobile store!</h2>
      <h5>Get an expert advice on mobile and accessories that suits your need and get delivered them at your doorstep at a better price.</h5>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <form [formGroup]="leadForm"> 
      <h5>Need Assistance? Let us call you.</h5>
      <p>Share below details with us and our experts will get in touch with you.</p>
      <div class="form-group">
       
        <input type="text" class="form-control" id="username" placeholder="Name" aria-describedby="emailHelp" formControlName="name">

      </div>
      <div class="form-group">
      
        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Contact number"  formControlName="number">
       
      </div>
      <div class="form-group">
        
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email-optional" aria-describedby="emailHelp" formControlName="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="consent">
        <label class="form-check-label" for="exampleCheck1">I authorize Connect Plus experts to contact me via mobile/email/SMS/WhatsApp.</label>
      </div>
      <button type="submit" class="btn btn-primary submitbutton">Submit</button>
    </form>
</div>
</div>

</div>
<!-- {{leadForm.value | json}} -->
<!-- <section id="clients" class="clients ">
  <div class="container">

    <div class="row">

      <div class="col-lg-12 col-md-12 col-12">
      <h6> Proud to service and fulfil the need of our 5000+ satisfied customers in last 5 years through our physical store. </h6>
      </div>

     
    </div>

  </div>
</section> -->
<div class="album py-5 bg-light aboutUS">
  <div class="container"  id="products">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Products</h2>
      <p>Get any of below products of any brands delivered at your place.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/smartphone.jpg" alt="Mobile and Accessories" class="thumbnail ">
          <div class="card-body">
            <p class="card-text">Mobiles</p>
           
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/headphone.jpg" alt="Mobile and Accessories" class="thumbnail ">
          <div class="card-body">
            <p class="card-text">Headphones</p>
           
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="./assets/images/mobilecover.jpg" alt="Mobile and Accessories" class="thumbnail ">
          <div class="card-body">
            <p class="card-text">Mobile Covers</p>
           
          </div>
        </div>
      </div>
    
    
     
    </div>
  </div>
</div>

<section id="about" class="about">
  <div class="container">

    <div class="section-title  aboutUS">
      <h2>About Us</h2>
      <h6 class="aboutUsSubtitle">Connect Plus is a retail mobile store located at the heart of Mumbait city at Dadar location, serving customers for more than 10 years. With an increase request
        from our existing customers and to expand our business model, we have taken this initiative to launch our digital presence with the help of Connect Plus online store. 
      </h6>
     
    </div>

   

  </div>
</section>
<section id="counts" class="counts">
  <div class="container">

    <div class="row">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start aos-init aos-animate" data-aos="fade-right" data-aos-delay="150">
        <img src="../assets/images/happyclient.svg" alt="" class="img-fluid">
      </div>

      <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="300">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
           
                <span data-toggle="counter-up">   5000+</span>
                <p><strong>Happy Customers</strong> </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">Excellent Customer Service</span>
                <p><strong>Trustworthy</strong> customer service helped us sustain and grow our business despite immense online competition. </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-clock-time"></i>
                <span data-toggle="counter-up">15+</span>
                <p><strong>Years of experience</strong> in selling mobile and related products and services.</p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-award"></i>
                <span data-toggle="counter-up">Relationship</span>
                <p><strong>Strong relationship</strong> philosophy is at the heart of our every interacion we have with our customers. </p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section>
<section id="homedelivery">
  <div class="album py-5 bg-light aboutUS">
  <div class="container"  id="products">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Home Delivery</h2>
      <p>As part of our current operations, we only accept home delivery options for Mumbai and Navi Mumbai regions and there will be no delivery charges applied to our customers. </p>
    </div>
   
  </div>
</div>
</section>
<section id="connectwithus" class="about">
  <div class="container">

    <div class="section-title  aboutUS">
      <h2>Connect with Us</h2>
      <h6 class="aboutUsSubtitle">For any queries or complaints you can always reach out to us on below coordinates and we will be happy to serve you.
      </h6>
     
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

        <p _ngcontent-fkq-c18=""><strong _ngcontent-fkq-c18="">Our physical store</strong></p>
        <p>Connect Plus, near Dadar TT circle, opposite Damodar Sweets. Mumbai 400014.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
   
        <p _ngcontent-fkq-c18=""><strong _ngcontent-fkq-c18="">Direct Number</strong></p>
        <p>You can also call us on  9833162188 or email us at connectplus@gmail.com</p>
      </div>
    </div>

  </div>
</section>

<router-outlet></router-outlet>
